/* src/Navbar.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #004481;
    padding: 0 20px;
  }
  
  .logo {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  
  .menu {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .profile-avatar {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  